
body {
  background-color: #d6e1f0;
  font-family: 'Outfit', sans-serif;
}

h2 {
  font-weight: bold;
}

p {
  font-weight: 400;
  color: gray;
  font-size: 15px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px 15px 30px 15px;
  width: 275px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qrcode {
  width: 100%;
  border-radius: 10px;
}

.text-container {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}